services:
  - type: web
    name: file-tracking
    env: python
    buildCommand: ""
    startCommand: gunicorn file_tracking.wsgi:application
    pythonVersion: 3.13.0
    envVars:
      - key: DJANGO_SETTINGS_MODULE
        value: file_tracking.settings
      - key: SECRET_KEY
        value: your-django-secret-key-here
      - key: DEBUG
        value: False
